.card,
body {
  font-family: "Abel", sons-serif;
  background-image: url(https://pa1.narvii.com/6689/59fe9b091dbf11c47385e4cdabd6d3ee4709c7d4_hq.gif);
}
img {
  height: 30rem;
}
.card {
  display: flex;
  align-items: center;
  text-align: center;
}

input {
  height: 2rem;
  font-size: 20px;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
}

.row {
  margin-bottom: 100px;
}

